
.article {
    width: 100%;
    margin-bottom: 50px;
    display: flex;

   

    .card { 
        border: none;
        background-color: #242e69;
        height: 400px;
        color: white;

        .card-title {
            font-size: 35px;
            text-align: center;
        }

        .card-text {
            text-align: left;
        }

        .card-text-introduction {
            height: 120px;
            min-width: 230px;
            overflow: hidden;
        }

        .card-button {
            text-align: center;
        }
    }
}